---
import MainLayout from 'src/layouts/main.astro'
import BlogPostMetaInfo from 'src/components/BlogPostMetaInfo.vue'
import { getEntry } from 'astro:content'

const { slug } = Astro.params
if (slug === undefined) {
	throw new Error('Slug is required')
}

const entry = await getEntry('blog', slug)

if (entry === undefined) {
	return Astro.redirect('/404')
}

const { Content } = await entry.render()
---

<MainLayout title={entry.data.title}>
	<article class="space-y-5">
		<header class="space-y-1.5">
			<h1 class="text-3xl text-black font-semibold">
				{entry.data.title}
			</h1>
			<h2 class="text-xl">{entry.data.description}</h2>
			<BlogPostMetaInfo entry={entry} />
		</header>
		<section class="leading-8 text-lg space-y-2.5 tracking-wide">
			<Content />
		</section>
	</article>
</MainLayout>
