---
import BlogEntrySmall from "src/components/BlogEntrySmall.astro";
import MainLayout from "src/layouts/main.astro";
import { getCollection } from "astro:content";
import type { BlogEntry } from "src/types/blog";
import isAfterToday from "src/utils/isAfterToday";
import { isDev } from "src/utils/isDev";
import WindowsXP from "src/components/WindowsXP.astro";
import Header from "src/components/Header.astro";

export const prerender = true;

const blogEntries = await getCollection("blog").then(
  (entry) =>
    entry
      .filter((item) =>
        item.data.draft ? isDev : isAfterToday(item.data.publishDate),
      )
      .sort(
        (a, b) => b.data.publishDate.getTime() - a.data.publishDate.getTime(),
      ) as BlogEntry[],
);
---

<MainLayout title="Blog">
  <WindowsXP title="Blog">
    <Header />
    <div class="xp-content space-y-6">
      {blogEntries.map((blog) => <BlogEntrySmall entry={blog} />)}
    </div>
  </WindowsXP>
</MainLayout>
