@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

* {
	font-family: "Poppins";
}

.astro-code {
	padding: 12px !important;
}

.astro-code * {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

section.prose :is(h1,h2,h3,h4,h5,h6) {
	margin-top: 20px !important;
}

@layer components {
	.external-link {
		/* @apply underline underline-offset-4 */
		@apply text-zinc-500 hover:text-black transition-colors duration-300 italic;
	}

	.section-header {
		@apply text-2xl;
	}
}
