@tailwind base;
@tailwind components;
@tailwind utilities;

.astro-code {
	background: inherit !important;
	padding: 8px !important;
	font-size: inherit;
}

section.prose :is(h1,h2,h3,h4,h5,h6) {
	margin-top: 20px !important;
}

@layer components {
	.external-link {
		/* @apply underline underline-offset-4 */
		@apply text-zinc-500 hover:text-black transition-colors duration-300 italic;
	}

	.section-header {
		@apply text-2xl;
	}
}
