---
import MainLayout from "src/layouts/main.astro";
import About from "src/components/About.astro";
import Home from "src/components/Home.astro";
import HomeBookmarksSection from "src/components/HomeBookmarksSection.astro";
import HomeBookLogSection from "src/components/HomeBookLogSection.astro";
import getRaindropBookmarks from "src/utils/raindrop";

const bookmarks = await getRaindropBookmarks({
  perPage: 5,
});
---

<MainLayout>
  <div class="space-y-6">
    <div class="space-y-2">
      <Home />
      <About />
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <HomeBookmarksSection bookmarks={bookmarks.items} />
      <HomeBookLogSection />
    </div>
  </div>
</MainLayout>
