---
import MainLayout from "src/layouts/main.astro";
import About from "src/components/About.astro";
import Home from "src/components/Home.astro";
import HomeBookmarksSection from "src/components/HomeBookmarksSection.astro";
import HomeBookLogSection from "src/components/HomeBookLogSection.astro";

export const prerender = true;
---

<MainLayout>
  <div class="space-y-6">
    <div class="space-y-2">
      <Home />
      <About />
    </div>
    <div class="grid grid-cols-1 xl:grid-cols-2 gap-6">
      <HomeBookmarksSection />
      <HomeBookLogSection />
    </div>
  </div>
</MainLayout>
