---
import MainLayout from "src/layouts/main.astro";
import { InventoryList } from "src/constants/inventory";
import InventoryGroup from "src/components/InventoryGroup.astro";

export const prerender = true;
---

<MainLayout title="Inventory" description="Things that I use on daily basis">
  <section class="space-y-2.5">
    <h1 class="text-xl">List of what I use daily</h1>
    {InventoryList.map((group) => <InventoryGroup group={group} />)}
  </section>
</MainLayout>
