---
import type { Bookmark } from "src/types/raindrop";

const { bookmark } = Astro.props as {
  bookmark: Bookmark;
};
---

<button
  data-bookmark-url={bookmark.link}
  data-bookmark-title={bookmark.title}
  class="bookmark-item bg-white p-2.5 flex flex-col gap-2.5 text-lg group border border-gray-300 rounded-md hover:border-gray-500 w-full text-left cursor-pointer transition-all duration-200 hover:shadow-md"
  title={bookmark.title}
>
  <span class="line-clamp-3">{bookmark.title}</span>
</button>
