---
const {href, text, isOuterLink} = Astro.props as {
	href: string
	text: string
	isOuterLink?: boolean
}
---

<template>
	<a
		href={href}
		target={isOuterLink ? '_blank' : '_self'}
		class="underline underline-offset-1 hover:text-black"
	>
		{ text }
	</a>
</template>
