---
const { href, text, isOuterLink } = Astro.props as {
  href: string;
  text: string;
  isOuterLink?: boolean;
};
---

<a
  href={href}
  target={isOuterLink ? "_blank" : "_self"}
  rel={isOuterLink ? "noopener noreferrer" : undefined}
  class="underline underline-offset-1 hover:text-black"
>
  {text}
</a>
