---
import type { IRouteItem } from "src/types/route";
interface Props {
  route: IRouteItem;
  currentPathname: string;
}
const { route } = Astro.props as Props;
const { pathname } = Astro.url;

const isBlog = pathname.includes("blog") && route.href.includes("blog");
const isActive = isBlog ? true : route.href === pathname;
---

<li role="menuitem">
  <a
    href={route.href}
    class:list={{
      "text-black font-semibold underline underline-offset-2": isActive,
      "text-zinc-600": !isActive,
    }}
  >
    {route.text}
  </a>
</li>
