---
import Routes from "src/constants/routes";
import HeaderLink from "src/components/HeaderLink.astro";

const { pathname } = Astro.props as {
  pathname: string;
};
---

<header class="border-b -mx-6 px-6 py-4 sticky top-0 bg-inherit z-[2]">
  <nav role="navigation">
    <ul role="menu" class="flex space-x-6 w-full">
      {
        Routes.map((route) => (
          <HeaderLink route={route} currentPathname={pathname} />
        ))
      }
    </ul>
  </nav>
</header>
