---
import Routes from "src/constants/routes";
import HeaderLink from "src/components/HeaderLink.astro";
---

<div class="xp-window-menu">
  <nav role="navigation">
    <ul role="menu" class="flex space-x-2">
      {Routes.map((route) => <HeaderLink route={route} />)}
    </ul>
  </nav>
</div>

<style>
  .xp-window-menu {
    background-color: #f1f1f1;
    border-bottom: 1px solid #dfdfdf;
    padding: 4px 8px;
    display: flex;
    align-items: center;
  }
</style>
