---
import Routes from "src/constants/routes";
import HeaderLink from "src/components/HeaderLink.astro";

const { pathname } = Astro.props as {
  pathname: string;
};
---

<header
  class="border-b -mx-6 px-6 py-4 sticky top-0 bg-inherit z-[2] transition-all duration-300"
>
  <nav role="navigation">
    <ul role="menu" class="flex space-x-6 w-full">
      {
        Routes.map((route) => (
          <HeaderLink route={route} currentPathname={pathname} />
        ))
      }
    </ul>
  </nav>
</header>

<script>
  function checkScrollY() {
    const header = document.querySelector("header");
    if (Math.round(scrollY) >= 60) {
      header?.classList.add("sticked");
    } else {
      header?.classList.remove("sticked");
    }
  }

  document.addEventListener("astro:page-load", () => {
    checkScrollY();
    window.addEventListener("scroll", () => checkScrollY());
  });
</script>
