---
import type { IRouteItem } from "src/types/route";
interface Props {
  route: IRouteItem;
}
const { route } = Astro.props as Props;
const { pathname } = Astro.url;

const isActive = route.slug === 'home' ? pathname === "/" : pathname.includes(`/${route.slug}`)
---

<li role="menuitem">
  <a
    href={route.href}
    class:list={{
      "text-black font-semibold underline underline-offset-2": isActive,
      "text-zinc-600": !isActive,
    }}
  >
    {route.text}
  </a>
</li>
