---
const { header } = Astro.props as {
  header: string;
};
---

<section class="space-y-1.5">
  <h2 class="section-header">{header}</h2>
  <hr color="black" />
  <div class="space-y-4">
    <slot />
  </div>
</section>
