---
import BookmarkItem from "src/components/BookmarkItem.astro";
import HomeSection from "src/components/HomeSection.astro";
import type { RaindropsResponse } from "src/types/raindrop";

const bookmarks: RaindropsResponse = await fetch("http://localhost:4321/api/bookmarks").then((response) => response.json());
const firstCol = bookmarks.items.filter((_, idx) => idx % 2 === 0);
const secondCol = bookmarks.items.filter((_, idx) => idx % 2 === 1);
---

<HomeSection header="Latest Bookmarks">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div class="grid grid-cols-1 gap-4 place-content-start">
      {firstCol.map((bookmark) => <BookmarkItem bookmark={bookmark} />)}
    </div>
    <div class="grid grid-cols-1 gap-4 place-content-start">
      {secondCol.map((bookmark) => <BookmarkItem bookmark={bookmark} />)}
    </div>
  </div>
</HomeSection>
